*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font: normal 1em/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 1.5em;
  line-height: 1.3;
  margin: 0;
}

p {
  margin: 0;
}

.cf-modal__backdrop-scroller {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;

  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cf-modal__backdrop-outer {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}

.cf-modal__backdrop {
  display: table-cell;
  vertical-align: middle;

  padding: 20px;
  background: rgba(0, 0, 0, 0.8);

  -webkit-transform-origin: center;
  transform-origin: center;
}

.cf-modal {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background: white;

  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cf-modal:focus {
  outline: none;
}

.cf-modal__header {
  position: relative;
  padding: 20px;
  background: #f9f9f9;
}

.cf-modal__title {
  word-break: break-all;
  word-break: break-word;
}

.cf-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
  color: gray;
}

.cf-modal__close::before {
  content: "\00D7";
}

.cf-modal__body {
  padding: 20px;
}

.cf-modal__footer {
  padding: 20px;
  background: #ebebeb;
}

.cf-modal__actions {
  text-align: right;
}

/**
 * Animations
 */

/**
 * Backdrop
 */

.cf-transition-modal-appear .cf-modal__backdrop,
.cf-transition-modal-enter .cf-modal__backdrop,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal__backdrop {
  background: transparent;
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave .cf-modal__backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.cf-transition-modal-appear-active .cf-modal__backdrop,
.cf-transition-modal-enter-active .cf-modal__backdrop,
.cf-transition-modal-leave-active .cf-modal__backdrop {
  -webkit-transition: background 200ms ease-in;
  transition: background 200ms ease-in;
}

/**
 * Modal
 */

.cf-transition-modal-appear .cf-modal,
.cf-transition-modal-enter .cf-modal,
.cf-transition-modal-leave.cf-transition-modal-leave-active .cf-modal {
  opacity: 0;
  -webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, -0.0002,
    0, 0, 1, 0,
    0, -10, 0, 1.1
  );
}

.cf-transition-modal-appear.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave .cf-modal {
  opacity: 1;
  -webkit-transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
  transform: matrix3d(
    1, 0, 0, 0,
    0, 1, 0, 0,
    0, 0, 1, 0,
    0, 0, 0, 1
  );
}

.cf-transition-modal-appear-active .cf-modal,
.cf-transition-modal-enter-active .cf-modal,
.cf-transition-modal-leave-active .cf-modal {
  transition: opacity 200ms ease, transform 200ms ease;
}
